{% extends "layout.html" %}

{% block title %}Оплата{% endblock %}

{% block head %}
  {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h2>Выберите способ оплаты:</h2>

    {% from "helpers.html" import render_field %}

    <form action="/action_pay" method=post>

        <div class="form-group">
            {{ form.amount.label }}
            {{ form.amount(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.currency.label }}
            {{ form.currency(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control", rows="5", cols="25") }}
        </div>

        <div style="display: none">
            {{ form.shop_order_id }}
        </div>

        <div class="form-group">
           <button type="submit" class="btn btn-primary">Оплатить</button>
        </div>
    </form>
{% endblock %}
