{% extends "layout.html" %}

{% block title %}Страница ошибок{% endblock %}

{% block head %}
  {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

     <div class="alert alert-danger" role="alert">
         {{ error }}
     </div>

{% endblock %}