{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class="form-control", **kwargs)|safe }}
    </div>

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro render_field_default(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}
