<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - Webpage</title>
    {% endblock %}
  </head>
  <body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    <div style="text-align: center">
      &copy; Copyright 2020 by <a href="https://www.involve-it.com/">involve</a>.
    </div>
    {% endblock %}
  </div>
  </body>
</html>