{% extends "layout.html" %}

{% block title %}Страница перехода на платежную систему{% endblock %}

{% block head %}
  {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    <form id="pay" name="pay-form" method= {{ method }} action="{{ url }}" accept-charset="UTF-8">
        {% for key, value in form.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
        {% endfor %}
        <input type="submit" name="pay" value="pay"/>
    </form>

    <script>
        document.getElementById("pay").submit()
    </script>

{% endblock %}
